@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: blanchedalmond;
}

.container{
  width: 400px;
  height: 600px;
  border-radius: 6px;
  background: #FFF4B7;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  padding-left: 0.2rem;
}

.title{
  padding: 1.25rem;
}

.overall-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.25rem 1.25rem 1.25rem;
}

.transaction-list{
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem 1.25rem 1.25rem;
}

.transaction-list .title-expenses{
  margin: 0.5rem 0 0.5rem 0;
}
.transaction-list .expenses-item{
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  margin: 0.5rem 0;
  border: 1px solid blue;
  /* background: #D8DBBD; */
}
.transaction-list .expenses-item .name{
  flex: 1;
  font-weight: 450;
}

.transaction-list .expenses-item .amount{
  text-align: right;
  font-size: 0.9rem;
  /* color:rgba(255, 255, 255, 0.6); */
}

.material-symbols-outlined{
  color: red;
}

.transaction-list .expenses-item .del-btn{
  background: transparent;
  border: none;
  margin-left: 0.5rem;
  cursor: pointer;
  border-radius: 20px;
}

.transaction-list .expenses-item .del-btn:active{
  background: rgba(0, 0, 0, 0.1);
}